$frost-subcontext-actions-button-bg: $frost-color-white;
$frost-subcontext-actions-button-shadow: $frost-color-grey-6;
$frost-subcontext-actions-button-icon: $frost-color-grey-4;
$frost-subcontext-actions-button-icon-selected: $frost-color-blue-1;
$frost-subcontext-actions-button-icon-active: $frost-color-blue-1;

.frost-subcontext-actions {
  width: 60px;
  height: 100%;
  margin-left: auto;
  padding: 20px 15px;
  border-left: 1px solid $frost-color-blue-1;
  background-color: $frost-color-white;
}

.frost-subcontext-actions-button {
  position: relative;
  display: inline-block;
  .frost-icon {
    width: 30px;
    height: 30px;
    color: $frost-color-blue-1;
  }
  .frost-subcontext-actions-label {
    background-color: $frost-color-grey-4;
    color: $frost-color-white;
    font-size: $frost-font-m;
    padding: 7px 15px;
    position: absolute;
    text-align: center;
    top: -5px;
    right: 170%;
    visibility: hidden;
    opacity: 0;
  }
}

.frost-subcontext-actions-button + .frost-subcontext-actions-button {
  margin-top: 20px;
}

.frost-subcontext-actions-button:hover .frost-subcontext-actions-label {
  visibility: visible;
  opacity: 1;
}