$frost-subcontext-actions-button-bg: $frost-color-white;
$frost-subcontext-actions-button-shadow: $frost-color-grey-6;
$frost-subcontext-actions-button-icon: $frost-color-grey-4;
$frost-subcontext-actions-button-icon-selected: $frost-color-blue-1;
$frost-subcontext-actions-button-icon-active: $frost-color-blue-1;

@keyframes frost-subcontext-actions-label-animation {
  from {right: 0%;}
  to {right: 170%;}
}

.frost-subcontext-actions {
  width: 60px;
  height: 100%;
  margin-left: auto;
  padding: 20px 15px;
  border-left: 1px solid $frost-color-blue-1;
  background-color: $frost-color-white;
}

.frost-subcontext-actions-button {
  position: relative;
  display: inline-block;
  &:focus {
    outline: none;
  }
  &:focus .frost-icon {
    outline: -webkit-focus-ring-color auto 5px;
  }
  .frost-icon {
    width: 30px;
    height: 30px;
    color: $frost-color-blue-1;
  }
  .frost-subcontext-actions-label {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 2px;
    color: $frost-color-white;
    font-size: $frost-font-m;
    padding: 8px 15px 6px 15px;
    position: absolute;
    text-align: center;
    right: 170%;
    height: 35px;
    max-height: 35px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}

.frost-subcontext-actions-button + .frost-subcontext-actions-button {
  margin-top: 20px;
}

.frost-subcontext-actions-button:hover .frost-subcontext-actions-label {
  animation-name: frost-subcontext-actions-label-animation;
  animation-duration: 2s;
  visibility: visible;
  opacity: 1;
}